.footer {
    background-color: var(--dark);
    color: var(--color-red);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
    height: 5rem;
    p {
      font-size: 1.2rem;
      color: #fff;
    }
   
  }