.special{
    width: 190px;
    height: 1240px;
    position: absolute;
    left: -25%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 13px 47px 1px rgba(102,96,96,0.84);
    h3{
        background-color: var(--color-red);
        color: #fff;
        font-size: 1.8rem;
        border-radius: 10px 10px 0 0;
        text-align: center;
    }
    .grid {
        width: 18rem;
        background-color: #fff;
        margin: 5px;
        height: 28rem;
        position: relative;
      
        .img {
          padding: 1rem;
          width: 100%;
          max-height: 75%;
          overflow: hidden;
          border-bottom: 2px solid #eee;
          img {
            width: 100%;
            max-width: 100%;
            cursor: pointer;
          }
        }
        .content {
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
      
          .details {
    
            padding: 0 1rem;
            h4 {
              font-weight: 400;
              font-size: 1.5rem;
            }
            p {
              font-weight: 500;
              color: var(--color-red);
            }
          }
          button {
            display: block;
            width: 50%;
          }
        }
      }
}
@media screen and (max-width: 700px) {
    .special{
        display: none;
    }
}