.App-payment {
    padding: 30px;
  }
  
  form {
    padding: 20px;
    margin: 30px auto 0;
    max-width: 1200px;
    border: 1px lightgray solid;
    border-radius: 10px;
  
    box-shadow: 10px 10px 5px 0px rgba(140,129,129,0.75);
    input{
    width: 200px;
    height:30px;
    padding: 5px;
    border: 1px lightgray solid;
    border-radius: 5px;
    }
  }
  .form-group{
    
padding: 5px;

  }
  .form-actions {
    margin-top: 15px;
  }
  
 .btn-pay{
    width: 100px;
    height:40px;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 4px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    box-shadow: 5px 5px 5px 0px rgba(22, 179, 35, 0.75);
 }